@charset "UTF-8";

/*Todas as demais midia*/

/*Typical Device Brekpoints
----------------------------
pequenas telas: até 600px
celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px

*/
@media screen and (min-width: 768px) and (max-width: 992px) {/*CONFIGURAÇÃO PARA TABLET*/

    body{
        background-image: linear-gradient(to top,#a6ff00, #ff008c);
    }

    section#login{
        width: 90vw;
        height: 280px;
    }
    section#login div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 50%;

    }
    
}
@media screen and (min-width: 992px) {/*CONFIGURAÇÕES PARA DESKTOP */

    body{
        background-image: linear-gradient(to top,#db1313, #562fafa9,#e2c20b,#00ff0d);
    }

    section#login{
        width: 980px;
        height: 350px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario > p{
        font-size: 1.2em;
    }
    div#formulario > h1{
        text-align: center;
        font-size: 3em;
    }
    div#formulario > p{
        font-size: 1.2em;
            margin: 20px 0px;
    }


}